<ul class="list-inline dashboard-menu text-center">
    <li><a class="active" href="/dashboard">Dashboard</a></li>
    <li><a href="/order">Orders</a></li>
    <li><a href="/address">Address</a></li>
    <li><a href="/profile">Profile Details</a></li>
</ul>